*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #031224;
}

li, a, button{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 50px;
    font-family: sans-serif;
}

.logo {
    cursor: pointer;
}

.searchbar{
  justify-content: space-between;
  align-items: center;
}

.searchbar li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: white;
    padding: 3px 5px;
}

.nav_links li a:hover{
    color: rgb(60, 214, 189);    
}

.jetzttesten{
    background-color: #E50E6B;
}

.Nw-image{
    position: absolute; 
    top: 47%;
    color: white;
    font-size:80%;
    font-family: sans-serif;
    margin: 10px;
    margin-left: 27%;
    margin-right: 20%;
    background-color: rgba(255, 255, 255, 0);
}

.jetztstreamen-nw{
    top: 49%;
    margin-left: 1.5%;
    position: absolute;
    color: black;
    background-color: white;
    font-family: sans-serif;
    font-size: 100%;
    padding: 0.7%;
    padding-left: 2.7%;
    padding-right: 2.7%;
}

.jetztstreamen-nw:hover{
    background-color: rgb(60, 214, 189);
}

.Top10{
    color: white;
    top: 73%;
    position: absolute;
    margin-left: 1.5%;
    font-family: sans-serif;
    font-size: 70%;
    margin-bottom: 1%;
}

.teaserrow {
    display: flex;
    flex-direction: row;
    color: white;
    font-size:30px;
    font-family: sans-serif;
}

.teaserrow img,
.teaserrow div {
    cursor: pointer;
}

.teaserrow div {
    margin-right: 25px;
}

.ranking_number {
    position: relative;
    bottom: 40px;
    height: 20px;
    display: inline;
    padding: 0 10px;
}

.Nochmehr{
    color: white;
    position: absolute;
    margin-left: 2%;
    font-family: sans-serif;
    font-size: 120%;
    top: 98%;
}

.EuPokal{
    margin-left: 2%;
    top: 101%;
    float: left;
    cursor: pointer;
    position: absolute;
}

.HOP{
    margin-left: 16%;
    top: 101%;
    float: left;
    cursor: pointer;
    position: absolute;
}




